.radiator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1em;
}

/* .radiator:not(:last-child) {
  margin-bottom: 1em;
} */

.radiator-node-list {
  display: flex;
}

.node {
  border: 1px solid black;
  padding: 1em;
}

.node:not(:first-child) {
  margin-left: 1em;
}

.INVALID_NODE {
  background-color: var(--invalid-node-color);
}

.NO_STEAM {
  background-color: var(--no-steam-node-color);
}

.VALID_NODE {
  background-color: var(--valid-node-color);
}

.NODE_OFFLINE {
  background-color: var(--offline-node-color);
}

.radiator .NO_NODES {
  border: 1px solid black;
  padding: 1em;
}
