.statuses {
  display: flex;
  /* max-width: 4em; */
  height: 1em;
}

.status {
  width: 1em;
  max-height: 1em;
  border-radius: 50%;
}

.status.NO_NODES {
  border: 1px solid var(--main-grey);
  /* width: 0.9em; */
  height: 100%;
}
