.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6em;
  max-height: 8em;
  border: 1px solid var(--main-grey);
  padding: 0.5em;
}

.widget h3 {
  font-size: 1em;
}

.widget .statuses {
  justify-content: center;
}
