.App {
  max-height: 100vh;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-around;
}

.building {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.explorer-viewer {
  display: flex;
  height: calc(100vh - 100px);
  width: 100vw;
}

.explorer {
  box-sizing: border-box;
  padding: 1em;
  width: 50vw;
  overflow-y: scroll;
}

.viewer {
  width: 50vw;
  max-width: 50vw;
  padding: 1em;
  border-left: 1px solid var(--main-grey);
}

/* Arrow */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 1px;
  width: 1px;
  display: inline-block;
  padding: 3px;
  transform-origin: center;
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  /* transform: rotate(-135deg) translateY(-50%);
  -webkit-transform: rotate(-135deg) translateY(-50%); */
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* transform: rotate(45deg) translateY(50%);
  -webkit-transform: rotate(45deg) translateY(50%); */
}
