:root {
  /* statuses */
  --invalid-node-color: hsl(1, 80%, 60%);
  --no-steam-node-color: hsl(200, 80%, 60%);
  --offline-node-color: hsl(1, 0%, 60%);
  /* --offline-node-color: hsl(60, 80%, 60%); */
  --valid-node-color: hsl(100, 80%, 60%);

  /* temperatures */
  --HOT-color: hsl(1, 80%, 60%);
  --WARM-color: hsl(25, 80%, 60%);
  --COZY-color: hsl(100, 80%, 60%);
  --COLD-color: hsl(200, 80%, 60%);

  --main-color: hsl(45, 100%, 50%);
  --main-grey: hsl(1, 0%, 80%);
}
body {
  max-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* *:not(:last-child, .node, .main-header, #root) {
  margin-bottom: 1em;
} */

.INVALID_NODE {
  background-color: var(--invalid-node-color);
}

.NO_STEAM {
  background-color: var(--no-steam-node-color);
}

.VALID_NODE {
  background-color: var(--valid-node-color);
}

.NODE_OFFLINE {
  background-color: var(--offline-node-color);
}

.NO_NODES {
  background-color: transparent;
}
